<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <h1>キャリコン過去問</h1>
    <p>セクションを選ぶ:</p>
    <ul>
        {% for start_index, end_index in sets %}
            <li><a href="{{ url_for('quiz', set_id=(start_index // QUESTIONS_PER_SESSION) + 1) }}">
                セクション {{ start_index + 1 }} - {{ end_index + 1 }}
            </a></li>
        {% endfor %}
    </ul>
</body>
</html>
