<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Set</title>
</head>
<body>
    <h1>問題 {{ set_id }}</h1>
    <form method="POST">
        {% for question in question_set %}
            <div>
                <p>{{ question['question'] }}</p>
                {% for i, choice in enumerate(question['choices']) %}
                    <label><input type="radio" name="answers[{{ loop.index0 }}]" value="{{ i }}">{{ choice }}</label><br><br>
                {% endfor %}
            </div>
            <br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
