<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Set</title>
</head>
<body>
    <h1>問題 {{ set_id }}</h1>
    <form method="POST">
        {% for q_index, question in enumerate(question_set) %}
            <div>
                <p>{{ question['question'] }}</p>
                {% for i, choice in enumerate(question['choices']) %}
                <label>
                    <!-- q_index を利用して name 属性をユニークにする -->
                    <input type="radio" name="answers[{{ q_index }}]" value="{{ i }}" 
                    {% if request.form.get("answers[" + q_index|string + "]") == i|string %} checked {% endif %}>
                    {{ choice }}
                </label><br><br>
                {% endfor %}
            </div>
            <br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
